.tree-view, .tree-cell {
    -fx-background-color: #333333 ;
    -fx-text-fill: #333333 ;
    -fx-font: 20px "Futura";
}

.blue{
    -fx-font: 20px "Futura";
    -fx-text-fill: blue;
}
.red{
    -fx-font: 20px "Futura";
    -fx-text-fill:red;
}
.green{
    -fx-font: 20px "Futura";
    -fx-text-fill: green;
}
#deckNameLabel{
    -fx-font: 20px "Futura";
    -fx-text-fill: #d3484f;
}
.tree-cell:expanded{
    -fx-background-color: #faf1f1 ;
    -fx-text-fill:#d3484f ;
}
.tree-cell:expanded #deckNameLabel{
    -fx-text-fill:#333333 ;
}

.tree-cell:selected {
    -fx-font-weight: bold ;
}
.tree-cell {
    -fx-padding: 0.75em 0em 0.75em 0em ;
}
.tree-cell:sub-tree-item {
    -fx-padding: 0.25em ;
}
AnchorPane{
    -fx-font-family: "Futura";
}
#mainTittle{
    -fx-font: 40px "Futura";
    -fx-text-fill: #d3484f;
}
#authorLabel{
    -fx-font: 10px "Futura";
    -fx-text-fill: #d3484f;
}
#bookNameLabel{
    -fx-font: 16px "Futura";
    -fx-text-fill: #d3484f;
}
#incountered{
    -fx-background-color:#c6dfff;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :#333333;
    -fx-border-color :#333333;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :#333333;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :#333333;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :#050505;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}
.
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :#333333;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}
.button {
    -fx-background-color:
        linear-gradient(#d3484f, #cd484f),
        radial-gradient(center 50% -40%, radius 200%, #d3484f 45%, #cd484f 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #363636;
}

